.c-accordion{
  &_btn{
    @include dis(inline-block);
    @include ta(left);
    position: relative;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;

    .icon{
      position: absolute;
      right: 0;
      top: 50%;
      margin: -0.25em 0.8em 0 0;
    }

    &.active{
      .icon{
        transform: rotate(45deg);
      }
    }
  }
}