#l-header{
  position: relative;
  padding: 0 per(20, $tab);
  background-color: $dark;
  border-bottom: 1px $dark solid;
  .l-header_inner{
    position: relative;
    width: 100%;
    h1{
      @include fontSet(48, 48, 100, $tab);
      padding: .5em 0;
      font-weight: 400;
      a{
        color: $white;
        text-decoration: none;
      }
    }
  }
  .gnavi{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 900;
    width: 100%;
    transition: height .6s ease;
  }
}

@include tab() {
  #l-header{
    .l-header_inner{
      h1{
        @include fontSet(36, 36, 100, $tab);
      }
    }
  }
}

@include lap() {
#l-header{
  @include dflex(sb, c);
  padding: per(15, $lap) per(20, $lap);
  .l-header_inner{
    width: auto;
    h1{
      @include fontSet(24, 24, 100, $lap);
      padding: 0;
    }
  }

  .gnavi{
    overflow: visible;
    position: static;
    width: auto;
    transition: none;
  }
}
}
