.l-navilist{
  @include dflex(fe, fe);
  list-style: none;
  flex-direction: column;
  background-color: rgba($black, 0.7);

  li{
    a{
      @include dis(block);
      @include fontSet(42, 42, 100, $tab);
      padding: .5em 1em;
      color: $white;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

@include tab() {
.l-navilist{
  li{
    a{
      @include fontSet(28, 28, 100, $tab);
    }
  }
}
}

@include lap() {
.l-navilist{
  @include dflex(fe, c);
  flex-direction: row;
  background-color: $dark;
  li{
    a{
      @include dis(block);
      @include fontSet(16, 16, 100, $lap);
      margin: 0 .8em;
      padding: .2em;
      color: $white;
      transition: background .6s ease, color .6s ease;

      &:hover{
        background-color: $white;
        color: $dark;
      }

      &.nuxt-link-exact-active{
        background-color: $white;
        color: $dark;
      }
    }
  }
}
}
